* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html {
    max-width: 100vw;
}

body {
    background-color: #60463B;
    max-width: 100vw;
}

a {
    text-decoration: none;
}

/* Header / Navigation Styling Section */

.nav-bar h1 {
    font-size: 40px;
    color: #C4BBB8;
}

nav {
    width: 100%;
}


nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 1.5%
}

nav ul li a {
    color: #8CFF98;
}

/* Hero Image section */

.Hero {
    display: flex;
    position: relative;
    background-image: url(./Assets/Images/palate.png);
    background-size: cover;
    background-position: 100%;
    height: 300px;
    width: 100%;
    border-top: 4px solid #8CFF98;
    border-bottom: 4px solid #8CFF98;
    align-items: flex-end;
    justify-content: flex-end;
}

.HeroContent {
    display: flex;
}

.Hero h2 {
    font-size: 16px;
    background-color: black;
    color: white;
    max-width: 40%;
    padding: 15px;
    margin: 0 20px 20px 0;
    line-height: 1.5;
}

/* About Me Section */

.section {
    display: flex;
    margin-top: 5%;
    padding: 10px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.section h2 {
    border-right: 4px solid #8CFF98;
    font-size: 35px;
    color: #C4BBB8;
    flex: 0 0 25%;
    text-align: right;
    padding-right: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 0 0 75%;
    flex-wrap: wrap;
}

.content h3 {
    display: flex;
    justify-content: center;
    color: #8CFF98;
    font-size: 20px;
    padding: 2%;
}

.content p {
    padding-left: 20px;
    color: #C4BBB8;
}




/* Work Section */
.projects {
    justify-content: center;
}

.projects a {
    color: #8CFF98
}

.project {
    min-height: 200px;
    max-height: 200px;
    display: flex;
    background-size: 100%;
    padding-bottom: 20px;
    margin: 20px;
}

.project-1 h4 {
    color: #8CFF98;
    background-color: #60463B;
    padding: 2%;
    border-radius: 25px;
}

.project-2 h4 {
    color: #8CFF98;
    background-color: #60463B;
    padding: 2%;
    border-radius: 25px;
}
/* 
.content a figure {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-width: 4px;
    color: #8CFF98;
    background-color: black;
    padding: 200%;
    margin: 1%;
    margin-top: 2%;
    font-size: 225%;
    display: flex;
    flex-flow: row-reverse;
    border-color:#8CFF98;
    border-radius: 10px;
    height: 100px;
} */

.project-1 {
    background-image: url(./Assets/Images/project1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-2 {
    background-image: url(./Assets/Images/OffnOn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-3 {
    background-image: url(https://picsum.photos/800/600);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Contact Me Section */

